<!DOCTYPE html>
<html>
 <head>
    <title> <%= title %></title>
   <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets'%>
</head>
<body>

<div class ="container">
 <header>
  <%= image_tag("logo.png",:alt =>"sapmle app",:class =>"round") %>
   <nav class ="round">
   <ul>
   <li><%= link_to "home",root_path%></li>
<li><%= link_to "help",help_path%></li>
<li><%= link_to "sign in",'#'%></li>


   </ul>
</nav>
</header>
<section class ="round">


<%= yield %>
</section>

<%= render 'layouts/footer'%>
</div>
</body>
</html>
